# Non-default files
.DS_Store
*.pdf
cifar-10-batches-py
*.ipynb
*.pkl
wandb
local_*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch weights
*.tar
*.pth
*.pt
*.torch
*.gz
